
.newsletter-signup{
	@include span-columns(12);
	@include bleed($grid-padding);
	@include clearfix;
	.signup-form{
		@include clearfix;
		@include span-columns(12);
		@include respond-to($small) {
			@include span-columns(10);
			@include pre(1);
		}
		@include respond-to($medium) {
			@include span-columns(8);
			@include pre(2);
		}
	}

	.signup-email{
		@include span-columns(12);
		@include respond-to($medium) {
			@include span-columns(6 omega, 12);
		}
	}
	.signup-name {
		@include span-columns(12);
		@include respond-to($medium) {
			@include span-columns(6, 12);
		}
	}
	.form-submit-button{

	}
}
