.blog-listing-posts {
  padding-top:2em;
  @include bleed($grid-padding);
  .blog-entry {
    @include span-columns(12 omega, 12);
  }
  .teaser-image {
     @include span-columns(12 omega, 12);
     @include respond-to($small){
        @include span-columns(4,12);
    }
  }

  .excerpt {
     @include span-columns(12 omega, 12);
     @include respond-to($small){
        @include span-columns(8 omega,12);
    }
  }
}

.avatar-image{
  @include span-columns(2,12);
  @include respond-to($small){
    @include span-columns(1,8);
  }
}

.blog-info{ 
  clear:both;
}

.blog-post-content{
  clear:both;
}