.footer-links{
	@include bleed($gutter-width);
}

.footer-navigation{
	@include span-columns(12);
	@include respond-to($small) {
	  @include span-columns(8, 12);
	}
}

.social-links{
	@include span-columns(12);
	@include respond-to($small) {
	  @include span-columns(4 omega ,12);
	}
}

.legal-text{
	@include respond-to($small){
		text-align:center;}
	max-width: 36em;
	margin: 0 auto;
	line-height:1.5em;
}
