.primary-navigation {
  background: $dark-grey;
  position: relative;
  .js & {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }
  .js &.closed {
    max-height: 0;
    @include respond-to($medium) {
      max-height: none;
    }
  }
  &.opened {
    max-height: 999em;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
  }
  li {
    float: left;
    width: 100%;
    &:last-child a{
      border-bottom: none;
    }
    @include respond-to($medium) {
      width: auto;
      padding: 1em 0;
    }
    a {
      color: $main-nav-grey;
      text-decoration: none;
      width: 100%;
      border-bottom: 1px solid $light-grey;
      padding: 0 1em;
      line-height:45px;
      float: left;
      &:hover{
        color:white;
      }
      @include respond-to($medium) {
        border-bottom: none;
        text-align: center;
        line-height: 1.8em;
      }
      &.cameo-logo{
        font-size:$h5-font-size;
        font-family:$header-font-family;
        text-transform:uppercase;
        padding-left: 0;
        @include respond-to($medium){
          line-height:1.5em;
        }
      }
      &.try-cameo{
        background: $med-grey;
        border-radius: 24px;
        margin-top: 1em;
        border-bottom: solid 2px #535353;
        @include respond-to($medium){
          margin-left: 1em;
          margin-top: 0;
        }
      }
    }
    ul ul a{
      background: $light-grey;
      padding-left: 2em;
      @include respond-to($medium) {
        display: none;
      }
    }
  }
}

#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: left;
  text-indent: -9999px;
  overflow: hidden;
  background: $light-grey url("../img/hamburger.gif") no-repeat 50% 45%;
  @include respond-to($medium) {
    display: none;
  }
}
