
.blog .main-content{
	@include respond-to($small){
		padding-right: $gutter-width;
	}
	a.back-arrow{
		display: block;
		margin-top: 2em;
		margin-bottom: 1em;
	}
	.blog-post{
		p.written-by{
			margin-top:0;
			font-size: .8em;
			color: $dark-grey;
		}

		h4{
			line-height: 1.5em;
		}
	}
}

.date{
		margin: 0em 0 0 0;
		color: $med-grey;
		font-size: .8em;
		font-style: italic;
	}


