
//CSS @FontFace embed
@font-face
{
  font-family: ClearSans;
  src: url('../fonts/ClearSans-Medium.ttf');
  font-weight: 400;
}
@font-face
{
  font-family: ClearSans;
  src: url('../fonts/ClearSans-Bold.ttf');
  font-weight: bold;
}
