.page{
  background:white;
  &.not-front {
    margin-top: $block-offset + $top-offset;
  }
}
.page-header {

}
.main {

}
.main-content {

}
.page .sidebar-first {
  h2 {
    @extend %sidebar-title;
  }

}
.sidebar-second {

}
.page-footer{
  background: $black;
}



