.why-cameo, .what-is-cameo, .how-cameo-works{
  padding: 2em 0 5em 0;
  
  h2{
  	text-align:center;
  	margin-bottom:1em;
  }
  h3{
  	font-size: $h4-font-size;
    margin-bottom: 0;
  }
}

.feature-block{
	text-align:center;
	padding: 0em 1em;
	img{
		border-radius:50%;
	}
}

.why-cameo{
	background:$lightest-grey
}

.feature-cta{
  text-align:center;
}
