.newsletter-signup{
  padding: 2em 0;
  background: #ccc;
  .signup-form{
    background: $lightest-grey;
    padding: 2em;
    margin-right: 0;
    margin-bottom: 2em;
    border-radius: 8px;
    div {
      padding-left: pem(60);
      &:first-child {
        margin-bottom: 1em;
        @include respond-to($medium) {
          margin-bottom: 0;
        }
      }
      label {
        margin-left: pem(-55);
        line-height: 29px;
      }
      input {
        width: 100%;
        float: right;
        height: 2.2em;
      }
    }
  }
  h3{
    text-align: center;
    margin-top: 0;
  }
  input.button{
    clear: both;
    display: block;
    font-size: 1em;
    padding: 0 2em;
    margin:0 auto;
  }
}

