.recent-blog-entries {
   background: $lightest-grey;
   padding-bottom: 1em;
   h2{
      text-align:center;
      margin-bottom:1em;
   }
   .blog-entry{
      h3{
        margin:0 0 .3em 0;
        padding:0;
        font-size: $h4-font-size;
      }
      p{
        margin-top:1em;
        padding-right:1em;
      }
      .excerpt{
           padding-bottom:3em;
      }
   }
}
